<h1>Stupid Coaching</h1>
<div class="you">
  <h3><%= @question %></h3>
  <p><em>- You</em></p>
</div>

<div class="coach">
  <h3><strong><%= @answer %></strong></h3>
  <p><em>- Your Coach</em></p>
</div>

<div class="pulse">
<%= link_to "Ask a new question", ask_path %>
</div>

